body{
    background-color: #f8f9fa!important
}
.navbar{
background-color:#00BFFF
}
#navTitle{
    padding-left: 10px;
}
#main{
    margin: auto;
    align-items: center
}

.title{
    font-family: 'Montserrat', sans-serif;
    text-shadow:  4px 3px 3px rgba(0,0,0,0.2);
    font-size: 18px;
    font-weight: 300;
}

#component:hover{
	transition: all 0.5s ease-out; 
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 1px 3px 20px rgba(0,0,0,0.5);
}
#navTitle{
    padding-left: 10px;
    padding-right: 20px;
    color: #fff
}
#voltar{
    padding-bottom: 30px;
}
#voltarIcon{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
}